<h1 class="mt-4">Envio de roteiros</h1>

<mat-divider></mat-divider>


<button mat-flat-button color="primary" (click)="cadastrarRoteiro()">Cadastrar roteiro</button>

<mat-divider></mat-divider>

<br>

<button mat-flat-button color="primary" (click)="fazerLogin()">Fazer login</button>

<br>

<mat-divider></mat-divider>

<br>

<button mat-flat-button color="primary" (click)="AcompanharStatus()">Acompanhar Status</button>

<br>

<mat-divider></mat-divider>

<br>

<button mat-flat-button color="primary" (click)="seCadastrar()">Se cadastrar</button>


